<div class="orders view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;User Orders</h3>
        </header>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div>
                        <h4>Orders for <a href="#/useredit/{{vm.user.id}}">{{ vm.user.firstName + ' ' + vm.user.lastName }} <i class="icon-edit editIcon"></i></a></h4>
                        {{vm.user.address}}
                        <br />
                        {{vm.user.city}}, {{vm.user.state.name}}
                        <br /><br />
                    </div>
                    <div data-ng-include="'/app/usersApp/views/orders/ordersTable.html'" data-ng-controller="OrderChildController as vm" />
                </div>                
            </div>
        </div>
    </div>
</div>
